#left {
  display: inline-block;
  position: absolute;
  left: 0px;
  border-right: thick #000000;
}
#right {
  position: absolute;
  right: 0px;
  display: inline-block;
  width: 30px;
}
